@import './settings';

@import '~foundation-sites/assets/foundation';

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 12em;
    margin-bottom: 2em;
}

/* Height */

$height: (0, 25, 50, 75, 90, 100); // Amount string.

@each $amount in $height {
    .h#{$amount} {
        min-height: #{$amount}vh;
    }
}

.h-auto {
    height:auto; /*Required for CSS Grid elements*/
    padding-bottom: 3em;
}

/* Typography */

$weight: (100, 200, 300, 400, 500, 600, 700, 800, 900); // Amount string.

@each $amount in $weight {
    .font#{$amount} {
        font-weight: #{$amount};
    }
}

$distance: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20); // Amount string.
$sides: (top, bottom, left, right); // Sides var

@each $amount in $distance {
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}#{$amount} {
            margin-#{$side}: #{$amount}em ;
        }
        .p#{str-slice($side, 0, 1)}#{$amount} {
            padding-#{$side}: #{$amount}em;
        }
    }
}

$fastEffect:all .3s;
$slowEffect:all 1s;

.background{
	&__cover{
		background-size:cover;
	}
	&__center{
		background-position:center;
	}
}

.section{
	&__dark{
		background-color:$black;
	}
}

.heading{
	padding:0;
	margin: 0;
	&__h1{
		font-size: rem-calc(68)
	}
	&__h2{
		font-size: rem-calc(42)
	}
	&__h3{
		font-size: rem-calc(30)
	}
	&__h4{
		font-size: rem-calc(25)
	}
	&__h5{
		font-size: rem-calc(20)
	}
	&__h6{
		font-size: rem-calc(16)
	}
	&__inline{
		display: inline-block;
	}
	&__caps{
		text-transform: uppercase;
	}
	&__light{
		color: $white;
	}
	&__dark{
		color: $black
	}
	&__primary{
		color: $primary-color;
	}
	&__secondary{
		color: $secondary-color;
	}
	&__warning{
		color: $warning-color;
	}
	&__alert{
		color: $alert-color;
	}
	&__medium-grey{
		color: $medium-gray;
	}
	&__background-primary{
		background-color: $primary-color;
	}
	&__no-line-height{
		line-height: 1;
	}
}

.border{
	&__bottom{
		border-bottom: 1px solid transparent;
	}
	&__right{
		border-right: 1px solid transparent;
	}
	&__light{
		border-color:$white;
	}
	&__primary{
		border-color:$primary_color;
	}
	&__secondary{
		border-color:$secondary_color;
	}
	&__thick{
		border-width:3px;
	}
}

.overlay{
	&__dark-gradient{
		position:relative;
		&:after{
			background:linear-gradient(to bottom, rgba(11, 11, 11, 0.7) 0%, rgba(11, 11, 11, 0.2) 50%, rgba(11, 11, 11, 0.7) 100%);
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
			content: '';
			position:absolute;
		}
		> div{
			z-index: 2;
			position:relative;
		}
	}
	&__white{
		position:relative;
		&:after{
			background-color:rgba($white, 0.75);
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
			content: '';
			position:absolute;
		}
		> div{
			z-index: 2;
			position:relative;
		}
	}
}

.genres{
	span{
		border-right: 1px solid #fff;
		padding: 0 rem-calc(20);
		&:first-of-type{
			padding-left:rem-calc(0);
		}
		&:last-of-type{
			border-right:0px;
		}

	}
}

.Modal {
    position: fixed;
    z-index: 500;
    background-color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-out;
}

.Backdrop {
	width:100%;
	height:100%;
	position:fixed;
	z-index:100;
	left:0;
	top:0;
	background-color: rgba(0, 0, 0, 0.7);
}

.ProgressContainer{
	display: flex;
	flex-flow: column;
	.Progress{
		position: relative;
		.ProgressRing, .ProgressRingBG{
			position:absolute;
			left:0;
			bottom:0;
			transition: stroke-dashoffset 0.35s;
			transform: rotate(-90deg);
			transform-origin: 50% 50%,
		}
		.ProgressTotal{
			position:absolute;
			color:$white;
		}
	}
	.progressTitle{
		color:$white;
	}
}

.trailerButton{
	max-width: rem-calc(16);
}
.slick-dots{
	bottom:1em;
	li{
		button{
			&::before{
				border:1px solid $white;
				border-radius:50%;
				width: rem-calc(12);
				height: rem-calc(12);
				color:transparent;
				opacity: 1;
				transition:.3s;
			}
			&:hover{
				&::before{
					background-color:$white;
					transition:.3s;
				}
			}
		}
		&.slick-active{
			button{
				&::before{
					border:1px solid $primary-color;
					color:transparent;
				}
				&:hover{
					&::before{
						background-color:$primary-color;
						transition:.3s;
					}
				}
			}
		}
	}
}